<% if event_attendees %>
<div class="attendance-list-block">
  <h3>Friends Attending</h3>
  <ul>
    <% event_attendees&.each do |event_attendee| %>
      <li>
        <%= link_to event_attendee.profile do %>
          <%= image_tag(profile_picture(event_attendee.profile.email, size: 16), alt: "Profile pic") %>
          <%= event_attendee.profile.name %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
  
<% end %>
